header .navbar-default {
  background-color: transparent;
  padding: 0.5% 5%;
  border: none;
  animation-delay: 2.5s;
}

header .navbar-default .navbar-toggle {
  border-radius: 0;
  border: 2px solid #F2F0D8;
  margin-top: 3%;
}

header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

header .navbar-default .navbar-toggle:hover .line-bar {
  width: 100%;
}

header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #F2F0D8;
  height: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header .navbar-default .navbar-toggle .line-bar {
  width: 70%;
}

header .navbar-default .navbar-brand {
  width: 150px;
  height: 80px;
  display: block;
  padding: 1%;
}

header .navbar-default .navbar-brand img {
  width: 100%;
  height: 70px;
}

header .navbar-default .navbar-nav {
  margin-top: 1%;
}

header .navbar-default .navbar-nav a {
  color: #F2F0D8;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: inline-block;
  border-bottom: 5px solid #2A3159;
  margin: 0 8px;
  display: block;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus {
  background-color: rgba(242, 240, 216, 0.62);
  color: #2A3159;
}

#menu.active {
  background-color: #2A3159;
}

#menu.active .navbar-nav a {
  border-bottom: none;
}

.hero-image {
  background-image: url("../image/image1.jpg");
  background-repeat: repeat-x;
  background-position: 0 20%;
  background-size: cover;
  height: 100vh;
}

.hero-image .marca_agua {
  background-color: rgba(73, 95, 140, 0.34);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-image .marca_agua .border-white {
  animation-delay: 0.8s;
  animation-duration: 2s;
  border: 10px solid #F2F0D8;
  padding: 20% 8%;
}

.hero-image .marca_agua .border-white .name, .hero-image .marca_agua .border-white .line {
  width: 100%;
  margin: 0.8%;
}

.hero-image .marca_agua .border-white .name {
  animation-delay: 1.2s;
}

.hero-image .marca_agua .border-white .line {
  animation-delay: 1.8s;
}

.about_me {
  color: #2A3159;
  padding: 4% 0;
  background-image: url("../image/fondo.jpg");
}

.about_me .about-title {
  margin-top: 25%;
}

.about_me .about-title .line {
  transform: rotate(90deg);
  border: 5px solid #2A3159;
  position: absolute;
  left: 52%;
  top: 70%;
}

.about_me .about-title h2 {
  font-family: "Glass Antiqua", cursive;
  font-size: 3em;
  font-weight: bold;
}

.about_me .about-title hr {
  border: 2px solid #2A3159;
}

.about_me .about-title .figure1 {
  overflow: hidden;
  transform: rotate(120deg);
  height: 370px;
  width: 180px;
  visibility: hidden;
  position: absolute;
  z-index: 100;
  left: 78%;
  bottom: 63%;
}

.about_me .about-title .figure3, .about_me .about-title .figure2 {
  height: 100%;
  width: 100%;
}

.about_me .about-title .figure2 {
  overflow: hidden;
  transform: rotate(-60deg);
}

.about_me .about-title .figure3 {
  visibility: visible;
  transform: rotate(-60deg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url("../image/miFoto.jpg");
}

.about_me .about-text {
  font-family: "Raleway", sans-serif;
  padding: 8% 4% 0 12%;
}

.about_me .about-text h4 {
  font-weight: bold;
}

.about_me .about-text p {
  font-size: 1.2em;
  text-align: justify;
  line-height: 30px;
  margin: 4% 0;
}

.about_me .about-text .interes {
  font-family: "Glass Antiqua", cursive;
  font-size: 1.5em;
}

.about_me .about-text .box_icon {
  display: inline-block;
  text-align: center;
  width: 140px;
  padding: 0 2%;
}

.about_me .about-text .box_icon:hover p {
  color: #2A3159;
  transition: all 1s ease-in;
}

.about_me .about-text .box_icon i {
  font-size: 3.5em;
}

.about_me .about-text .box_icon p {
  font-size: 0.8em;
  color: transparent;
  text-align: center;
}

.skill, .portfolio, .contact {
  background-color: #F2F0D8;
  padding: 6% 0 4%;
  font-family: "Raleway", sans-serif;
}

.skill h2, .portfolio h2, .contact h2 {
  font-family: "Glass Antiqua", cursive;
  font-size: 3em;
  color: #495F8C;
  font-weight: bold;
}

.skill hr, .portfolio hr, .contact hr {
  border: 2px solid #495F8C;
}

.skill p, .portfolio p, .contact p {
  font-size: 1.2em;
  margin: 4% 0;
}

.skill .circle-group, .portfolio .circle-group, .contact .circle-group {
  padding-bottom: 6%;
}

.skill .circle-group .circle, .portfolio .circle-group .circle, .contact .circle-group .circle {
  position: relative;
  display: inline-block;
  margin: 3%;
  vertical-align: top;
  text-align: center;
  width: 162px;
  padding-top: 40px;
  color: #2A3159;
}

.skill .circle-group .circle canvas, .portfolio .circle-group .circle canvas, .contact .circle-group .circle canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.skill .circle-group .circle img, .portfolio .circle-group .circle img, .contact .circle-group .circle img {
  margin-top: 10%;
}

.skill .circle-group .circle i, .portfolio .circle-group .circle i, .contact .circle-group .circle i {
  font-size: 3em;
  display: block;
}

.skill .circle-group .circle span, .portfolio .circle-group .circle span, .contact .circle-group .circle span {
  font-size: 1.2em;
}

.portfolio .enlace {
  color: #2A3159;
  font-weight: bolder;
}

.portfolio .enlace:hover {
  color: #495F8C;
  text-decoration: none;
}

.portfolio .nav-tabs {
  border-bottom: none;
}

.portfolio .nav-tabs > li.active > a {
  color: #F2F0D8;
  background-color: #8F9FBF;
  font-weight: bolder;
}

.portfolio .nav-tabs > li > a {
  font-size: 1.2em;
  color: #F2F0D8;
  font-family: "Raleway", sans-serif;
  background-color: #2A3159;
}

.portfolio .box {
  padding: 5% 0;
}

.portfolio .box .ih-item.square {
  border: none;
  height: auto;
  margin: 2% auto;
}

.portfolio .box .ih-item.square img {
  height: 175px;
}

.portfolio .box .ih-item.square.effect6 .info {
  background: rgba(73, 95, 140, 0.34);
}

.portfolio .box .ih-item.square.effect6 .info h3 {
  font-size: 1.5em;
  color: #F2F0D8;
  font-weight: bold;
  background: #495F8C;
  font-family: "Glass Antiqua", cursive;
}

.contact {
  background-image: url("../image/Andi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -8%;
}

.contact a {
  font-size: 3em;
  color: #2A3159;
  margin: 0 2%;
}

.contact a:hover {
  color: #495F8C;
}

.contact .contact-box {
  padding: 2% 4%;
}

.contact .contact-box i {
  font-size: 1.5em;
  border-radius: 50%;
  border: 2px solid #8F9FBF;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #8F9FBF;
}

footer {
  background: #2A3159;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 2%;
}

footer p {
  margin-bottom: 0;
}

/*
animation: animatedBackground 20s linear infinite;
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 600px 0; }
}*/
@media (max-width: 992px) {
  .about_me .about-title .line {
    display: none;
  }
  .about_me .about-title .figure1 {
    left: 40%;
    bottom: 0;
  }
  .hero-image .marca_agua .border-white {
    padding: 5%;
  }
}

@media (max-width: 1200px) {
  .about_me .about-title .line {
    left: 56%;
  }
}

@media (max-width: 767px) {
  header .navbar-default .navbar-nav {
    background-color: #495F8C;
  }
  header .navbar-default .navbar-nav a {
    border-bottom: none;
    margin: 1%;
  }
}

@media (max-width: 770px) {
  .skill .circle-group .circle, .portfolio .circle-group .circle, .contact .circle-group .circle {
    margin: 4.5%;
  }
  .about_me .about-title {
    margin-top: 10%;
    padding-left: 8%;
  }
  .about_me .about-title .figure1 {
    display: none;
  }
}

@media (max-width: 480px) {
  .skill .circle-group .circle, .portfolio .circle-group .circle, .contact .circle-group .circle {
    margin: 7%;
  }
  .hero-image {
    height: 70vh;
  }
  .hero-image .marca_agua {
    height: 70vh;
  }
}
