mixin col(web,img, title)
    .col-md-4.col-sm-6.col-xs-12
        .ih-item.square.effect6.top_to_bottom
            a(href=web, target="_blank")
                .img
                    img(src=img )
                .info
                    h3=title
                    
mixin icon(texto)
    .box_icon
        i(class!=attributes.class)
        p=texto